      <div id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="publications.html">Publications</a></li>
          <li><a href="cse2331.html">CSE 2331</a></li>
          <li><a href="officehours.html">Office Hours</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>