---
title: Contact Rephael Wenger
---

      <div>
        <h1>Office</h1>
        485 Dreese Lab<br/>
        2015 Neil Avenue <br/>
        Columbus, Ohio 43210<br/><br/>
      </div>

      <div>
        <h3>Email</h3>
        Email address: 
        <a href="mailto:wenger@cse.ohio-state.edu">
          wenger@cse.ohio-state.edu<br/><br/>
        </a>
      </div>

      <div>
        <h3>Phone</h3>
        Telephone: +1 (614) 292 6253 <br/>
        Fax: +1 (614) 292 2911<br/><br/>
      </div>