---
title: Wenger's CSE2331
---

      <div>
        <h1>Foundations II: Data Structures and Algorithms</h1>
        <h2>CSE 2331, Summer, 2014</h2>
        <hr>
        <h1>Course Summary</h1>Design/analysis of algorithms and data
        structures; divide-and-conquer; sorting and selection, search trees,
        hashing, graph algorithms, string matching;<br/>
        probabilistic analysis; randomized algorithms; NP-completeness.<br/>
        <br/>

        <hr>
        <h1>Course Information</h1>
        Instructor: <a href="index.html">Dr. R.
        Wenger</a>
        <br/>

        Office hours: <a href="officehours.html">See
        my office hours.</a>
        <br/>

        Text: "Introduction to Algorithms," Second or Third Edition, by Corman,
        Leiserson,
        Rivest and Stein.
        <br/>

        CSE 2331 course
        notes: Available at SBX.<br/>

        Syllabus: <a href="../cse2331/syllabus2331.pdf">Download syllabus</a>.<br/>

        <br/>
        Enrolled students should see <a href="https://carmen.osu.edu">carmen</a>
        for more information.<br/>
        <br/>

        <hr>
        <h1>Homework</h1>
        <a href="../cse2331/hw1.pdf">Homework 1</a>: Due Thursday, June 19. Please hand in the homework at the beginning of class.<br/>
        <br/>
        <hr>
        <h1>Tools</h1>
        Modulo arithmetic calculator: <a href="http://ptrow.com/perl/calculator.pl">http://ptrow.com/perl/calculator.pl</a><br/>
        <br/>

      </div>