---
title: Rephael Wenger's Home Page
---

      <div>
      <%= image_tag 'RephaelWenger.gif', :width => '400', :height => '562', :class => "indexImage", :alt => 'Rephael Wenger'%>
      <h1>Research</h1>
      My research is in computer graphics and visualization, particularly the
      use of geometric algorithms to visualize geometric data. Currently, I am
      studying the construction of isosurfaces with sharp features. See 
      <a href="publications.html">Publications</a>
      for some of my publications including my new book, "Isosurfaces: Geometry, Topology, and
      Algorithms". See <a href="http://www.cse.ohio-state.edu/graphics/isotable">
      http://www.cse.ohio-state.edu/graphics/isotable</a> for isosurface software.
      </div>

      <div>
      <h3>Teaching</h3>
      <a href="cse2331.html"> CSE 2331: Foundations II: Data Structures and Algorithms</a><br/>
      <a href="officehours.html">See my office hours.</a>
      </div>

      <div>
      <h3>Committees</h3>
      Curriculum committee.<br/>
      Undergraduate studies committee.
      </div>

      <div>
      <h3>Undergraduate Honors Advising</h3>
      I am the undergraduate honors advisors. For some ideas about undergraduate research projects, see
      <a href="http://web.cse.ohio-state.edu/sce/now/projects.html">projects</a>.
      </div>